.container {
  margin: 5rem 0;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 2rem;
  justify-items: center;
  text-align: center;
}


.video_gallery {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 2rem;
  margin: 3rem auto;
}

.video {
  position: relative;
  max-width: 286px;
  max-height: 286px;
}

@media only screen and (min-width: 768px) {
  .video_gallery {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    max-width: 768px;
    margin: 3rem auto;
  }

  .video {
    position: relative;
    max-width: 386px;
    max-height: 386px;
  }

}

@media only screen and (min-width: 1200px) {
  .video_gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 3rem auto;
  }

  .video {
    position: relative;
    max-width: 386px;
    max-height: 386px;
  }

}

