.button {
  outline: none;
  border: none;
  filter: drop-shadow(0 0.5rem 0.30rem rgba(0, 0, 0, 0.15));
  min-width: 150px;
  padding: 1.5rem 2rem;
  border-radius: 50px;
  text-transform: uppercase;
  background-color: white;
  font-size: 16px;
  color: black;
}
